.container{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 50rem;
    margin: 0 auto;
    margin-top: 5rem;
    background: white;
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);

}