@import './libs/normalize';


body {
  background: rgb(235, 235, 235);
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
  @media (max-width:674.98px) {
    margin: 0;
    width: 100%;
  }
}